[Unit]
Description=temperature probe data logger
After=network.target network-online.target

[Service]
Type=simple
User=pi
Group=pi
Restart=always
#ExecStartPre=/bin/mkdir -p /var/run/temp-probe
PIDFile=/var/run/temp-probe/service.pid
WorkingDirectory=/home/pi/temp-probe-python
ExecStart=/usr/bin/python3 /home/pi/temp-probe-python/read-data.py

[Install]
WantedBy=multi-user.target

